{% extends "movies/base.html" %}

{% block content %}
    <div class="main_row_films" style="padding:0px">
        <ul class="bar_movies">
            {% for film in films %}
                <li>
                    <a href="{% url 'movies:film' film.id %}">{{ film.film_name }}</a>
                </li>
            {% empty %}
                <h1>
                    There are no films in the database!
                </h1>
            {% endfor %}
        </ul>
    </div>
    <div class="side_row_films">
        <h2>Film List</h2>
        <p>This is a list of the films from the database</p>
        <p>it will contain the name of the film</p>
        <p>It's director and main cast</p>
        <p>and also the runtime and release date</p>
    </div>
{% endblock content %}